<div id="lessonsBlock">
    <div class="lesson" id="lesson1">
        <img src="sources/girl_landing_page.png" alt="701" class="lessonImage">
        <p class="lessonName">Riyaziyyat</p>
        <p class="lessonDesc">120 video</p>
        <p class="lessonDesc">Rüfət Quliyev</p>
    </div>

    <div class="lesson" id="lesson2">
        <img src="sources/girl_landing_page.png" alt="701" class="lessonImage">
        <p class="lessonName">Coğrafiya</p>
        <p class="lessonDesc">120 video</p>
        <p class="lessonDesc">Rüfət Quliyev</p>
    </div>

    <div class="lesson" id="lesson3">
        <img src="sources/girl_landing_page.png" alt="701" class="lessonImage">
        <p class="lessonName">Tarix</p>
        <p class="lessonDesc">120 video</p>
        <p class="lessonDesc">Rüfət Quliyev</p>
    </div>