<div class="why-701">
    <p id="why-us-title">Niyə 701?</p>
    <p id="why-us-lipsum">701 sizə bir çox yeniliklər təklif edir</p>

    <div class="offer" id="offer1">
        <p class="offer-title">Peşəkar müəllimlər</p>
        <p class="offer-details">Peşəkar və dərsləri maraqlı şəkildə çatdıran repetitorlar 701-in önəmli hissələrindən biridir.</p>
    </div>
    <div class="offer" id="offer2">
        <p class="offer-title">Yaradıcı və əyləncəli dərslər</p>
        <p class="offer-details">Dərsləri daha yaxşı anlamanız üçün mövzular hekayələrl və animasiyalarla hazırlanmışdır.</p>
    </div>
    <div class="offer" id="offer3">
        <p class="offer-title">Süni Zəka inteqrasiyası</p>
        <p class="offer-details">Suallarınıza həm Süni Zəka, həm müəllimlər tərəfindən cavab ala bilərsiniz.</p>
    </div>

</div>
