<div class = "callToAction">
    <img src="../../../assets/sources/701 purple 2.png" alt="701" id="cta701">
    <button type="button" id="signUp">Qeydiyyat</button>
    <button type="button" id="logIn">Giriş</button>

    <button type="button" id="demo">Play Demo</button>
    <button type="button" id="freeTrial">Start Free Trial</button>

    <p id="slogan">Sıxıcı dərslərlə sağollaş</p>
    <p id="ctaLipsum">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Vel sint blanditiis libero in! Doloribus quibusdam quisquam quae quasi inventore.</p>
</div>