@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto+Condensed:wght@300&family=Space+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
}

div.callToAction {
    height: 100vh;
    width: 100%;
    background: linear-gradient(263.19deg, rgba(36, 33, 69, 0.3) 44.67%,
    rgba(218, 30, 116, 0.3) 91.01%),
    linear-gradient(106.52deg, #242145 54.69%, #DA1E74 100%);
}

#cta701 {
    float: left;
    position: absolute;
    height: 12%;
    width: 7%;
    margin-left: 5%;
    margin-top: 2%;
}

#signUp, #logIn {
    float: right;
    height: 7%;
    width: 15%;
    margin-right: 5%;
    margin-top: 4%;
    margin-left: 1%;

    background: #E4005C;
    border-radius: 13px;
    border: 3px solid transparent;

    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 125%;
    font-weight: 600;

    cursor: pointer;
}

#logIn {
    margin-right: 1%;
    margin-top: 4%;
    margin-left: 0;

    background: transparent;
    border: 3px solid #6058BE;
}

#signUp:hover {
    background: #c00046;
}

#logIn:hover {
    border: 3px solid #e4005c;
}

#slogan {
    position: absolute;
    float: left;
    margin-top: 15%;
    width: 40%;
    height: 10%;
    margin-left: 5%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 450%;
    line-height: 150%;
    color: #FFFFFF;
}

#ctaLipsum {
    position: absolute;
    float: left;
    width: 40%;
    height: 20%;
    margin-top: 33%;
    margin-left: 5%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 120%;
    line-height: 36px;
    color: #FFFFFF;
}

#freeTrial, #demo {
    position: absolute;
    float: left;
    width: 15%;
    height: 8%;
    margin-top: 45%;
    margin-left: 5%;

    cursor: pointer;
    background: #E4005C;
    font-family: 'Inter';
    font-size: 110%;
    color:#FFFFFF;
    border-radius: 13.3221px;
    border: 3px solid transparent;
    font-weight: 600;
}

#demo {
    margin-left: 22%;

    border: 0px solid #6058BE;

    background: transparent;

}

#freeTrial:hover {
    background: #c00046;
}