<div class="prices">
    <p class="prices-title">Qiymətlər</p>

    <button class="price_button" id="yearly" (click)="onClick()">Yearly</button>
    <button class="price_button" id="monthly" (click)="onClick2()">Monthly</button>
    </div>

    <div class="pakets" *ngIf="illik">

        <div class="price" id="price1" >
            <p class="price-in-manats">20AZN</p>
            <p class="price-desc">1 fənn</p>
            <button class="button" id="button1">Indi al!</button>
        </div>
    
        <div class="price" id="price2">
            <p class="price-in-manats">55AZN</p>
            <p class="savings">-13%</p>
            <p class="price-desc">Buraxılış paketi</p>
            <button class="button">Indi al!</button>
        </div>
    
        <div class="price" id="price3">
            <p class="price-in-manats">85AZN</p>
            <p class="savings">-20%</p>
            <p class="price-desc">Qəbul paketi</p>
            <button class="button">Indi al!</button>
        </div>
    
        <div class="price" id="price4">
            <p class="price-in-manats">100AZN</p>
            <p class="savings">-20%</p>
            <p class="price-desc">Full paket</p>
            <button class="button">Indi al!</button>
        </div>
    
    </div>

    <div class="pakets" *ngIf="ayliq">

    <div class="price" id="price1" >
        <p class="price-in-manats">30AZN</p>
        <p class="price-desc">1 fənn</p>
        <button class="button" id="button1">Indi al!</button>
    </div>

    <div class="price" id="price2">
        <p class="price-in-manats">65AZN</p>
        <p class="savings">-13%</p>
        <p class="price-desc">Buraxılış paketi</p>
        <button class="button">Indi al!</button>
    </div>

    <div class="price" id="price3">
        <p class="price-in-manats">90AZN</p>
        <p class="savings">-20%</p>
        <p class="price-desc">Qəbul paketi</p>
        <button class="button">Indi al!</button>
    </div>

    <div class="price" id="price4">
        <p class="price-in-manats">110AZN</p>
        <p class="savings">-20%</p>
        <p class="price-desc">Full paket</p>
        <button class="button">Indi al!</button>
    </div>

</div>





